{% load static i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ user.username }}'s Profile</title>
    <link rel="stylesheet" href="{% static 'css/my_profile.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="profile-header">
        {% if user.profile.profile_image %}
          <img src="{{ user.profile.profile_image.url }}"
               alt="{{ user.username }}"
               class="profile-img" />
        {% else %}
          <img src="https://via.placeholder.com/150"
               alt="{{ user.username }}"
               class="profile-img" />
        {% endif %}
        <div class="profile-info">
          <h1>{{ user.username }}</h1>
          {% if user.profile.first_name or user.profile.last_name %}
            <h2>{{ user.profile.first_name }} {{ user.profile.last_name }}</h2>
          {% endif %}
          {% if user.profile.bio %}<p>{{ user.profile.bio }}</p>{% endif %}
          {% if user.profile.location %}<p>{{ user.profile.location }}</p>{% endif %}
        </div>
        <div class="profile-stats">
          <span>{{ posts.count }} Posts</span>
          <span id="followers-count-{{ user.id }}" class="follower-link">{{ followers_count }} Followers</span>
          <span id="following-count-{{ user.id }}" class="following-link">{{ following_count }} Following</span>
        </div>
      </div>
      <div class="profile-actions">
        <a href="{% url 'social:index' %}" class="btn btn-primary">Return to Social Media</a>
        {% if user != request.user %}
          {% csrf_token %}
          {% if user in request.user.profile.following.all %}
            <button class="btn btn-secondary follow-btn following"
                    data-user-id="{{ user.id }}">Unfollow</button>
          {% else %}
            <button class="btn btn-primary follow-btn" data-user-id="{{ user.id }}">Follow</button>
          {% endif %}
        {% endif %}
      </div>
      <div class="profile-posts">
        {% for post in posts %}
          {% if post.image %}
            <div class="post">
              <img src="{{ post.image.url }}"
                   alt="Post Image"
                   class="post-img"
                   onclick="openModal('{{ post.image.url }}')" />
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div id="followModal" class="modal">
      <span class="close" onclick="closeFollowModal()">×</span>
      <div class="modal-content">
        <div id="modalTitle">Followers</div>
        <input type="text"
               id="searchBar"
               placeholder="Search"
               onkeyup="filterList()" />
        <ul id="followList">
        </ul>
      </div>
    </div>
    <div id="myModal" class="modal">
      <span class="close" onclick="closeModal()">×</span>
      <div class="modal-content">
        <img id="modalImage" alt="Modal Image" />
      </div>
    </div>
    <script src="{% static 'js/project.js' %}"></script>
    <script>
      document.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById("myModal").style.display = "none";
        document.getElementById("followModal").style.display = "none";

        document.querySelector('.follower-link').addEventListener('click', function() {
          fetchFollowers('{{ user.username }}');
        });

        document.querySelector('.following-link').addEventListener('click', function() {
          fetchFollowing('{{ user.username }}');
        });
      });

      function openModal(src) {
        document.getElementById("myModal").style.display = "flex";
        document.getElementById("modalImage").src = src;
      }

      function closeModal() {
        document.getElementById("myModal").style.display = "none";
      }

      function openFollowModal(title, list) {
        document.getElementById("modalTitle").innerHTML = title;
        document.getElementById("followList").innerHTML = list.map(user => `
          <li class="follow-item">
            <img src="${user.profile_image}" alt="${user.username}'s profile picture" class="profile-pic" />
            <div class="user-info">
              <a href="/social/profile/${user.username}/" class="username">${user.username}</a>
              <p>${user.full_name}</p>
            </div>
          </li>
        `).join('');
        document.getElementById("followModal").style.display = "flex";
      }

      function closeFollowModal() {
        document.getElementById("followModal").style.display = "none";
      }

      function fetchFollowers(username) {
        fetch(`/social/profile/${username}/followers/`)
          .then(response => response.json())
          .then(data => {
            openFollowModal('Followers', data.followers);
          });
      }

      function fetchFollowing(username) {
        fetch(`/social/profile/${username}/following/`)
          .then(response => response.json())
          .then(data => {
            openFollowModal('Following', data.following);
          });
      }

      function filterList() {
        const searchInput = document.getElementById('searchBar').value.toLowerCase();
        const followItems = document.querySelectorAll('.follow-item');

        followItems.forEach(item => {
          const username = item.querySelector('.username').innerText.toLowerCase();
          const fullName = item.querySelector('.user-info p').innerText.toLowerCase();

          if (username.includes(searchInput) || fullName.includes(searchInput)) {
            item.style.display = '';
          } else {
            item.style.display = 'none';
          }
        });
      }
    </script>
  </body>
</html>
